anytree==2.8.0
certifi==2020.4.5.1
cftime==1.0.4.2
elasticsearch==7.6.0
git+https://github.com/cedadev/directory-tree.git#egg=directory-tree==0.1.0
git+https://github.com/cedadev/cci_tagger_json.git#egg=cci_tagger_json
isodate==0.6.0
Jinja2==2.11.2
MarkupSafe==1.1.1
netCDF4==1.5.3
numpy==1.18.1
pyparsing==2.4.6
rdflib==4.2.2
six==1.14.0
SPARQLWrapper==1.8.5
tqdm==4.45.0
urllib3==1.25.9
verboselogs==1.7